.company-box {
    text-align: center;
}

.company {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;


    &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 170px;
        height: 92px;
        border: 1px solid #afb1b8;
        border-radius: 4px;
        transition: var(--transition);
        transition-property: fill;

        &:hover .company-icon {
            fill: var(--brand-main-color);
            cursor: pointer;
        }
        &:hover {
                border-color: var(--brand-main-color);
                cursor: pointer;
        }
    }

    &-icon {
        fill: #afb1b8;
        transition: var(--transition);
        transition-property: fill;
    }
}