.company-box {
    text-align: center;
}

.company {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0px 15px 15px;


    &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 210px;
        height: 92px;
        border: 1px solid #afb1b8;
        border-radius: 4px;
        transition: var(--transition);
        transition-property: fill;
        margin-bottom: 30px;

        &:hover .company-icon {
            fill: var(--brand-main-color);
            cursor: pointer;
        }

        &:hover {
            border-color: var(--brand-main-color);
            cursor: pointer;
        }
    }

    &-icon {
        fill: #afb1b8;
        transition: var(--transition);
        transition-property: fill;
    }
}
@media screen and (min-width:1200px) {
    .company {
        &-item {
            width: 170px;
        }
    }
}
@media screen and (min-width:768px) and (max-width: 1199px) {
    .company {
        justify-content: space-evenly;
    }
}
@media screen and (min-width:480px) and (max-width: 767px) {

}