.contacts {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    justify-content: space-between;
    align-items: flex-start;
    color: rgba(255, 255, 255, 0.6);
}

.contact__address {
    color: var(--brand-second-color);
    text-decoration: none;
    font-style: normal;
    list-style: none;
}

.footer-contact {
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    list-style: none;


    &__item {
        margin-bottom: 9px;
    }

    &__link {
        color: rgba(255, 255, 255, 0.6);
        text-align: start;
        text-decoration: none;
        transition: var(--transition);
        transition-property: color, background-color, box-shadow;
    }
}