.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    min-height: 581px;
    background-color: var(--brand-second-color);
    transition: var(--transition);
    transition-property: transform;

    &-btn-close {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 30px;
        height: 30px;
        background-color: var(--brand-second-color);
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        cursor: pointer;
    }

    &-icon {
        fill: var(--brand-third-color);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__head {
        margin-top: 40px;
        margin-bottom: 12px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--text-main-color);
    }
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 124px;
    margin-top: 30px;
    width: 200px;
    height: 50px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: var(--brand-second-color);
    background-color: var(--brand-main-color);
    border-radius: 4px;
    transition: var(--transition);
    transition-property: box-shadow;
    border: var(--brand-main-color);
    cursor: pointer;

    &:hover {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}