.newsletter-form {
    text-align: left;
    margin-top: 14px;
    margin-left: auto;
    width: 570px;


    &-tittle {
        margin: 0;
        padding: 0;
        text-align: left;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;

        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--brand-second-color);
    }

    &-box {
        margin-top: 20px;
        display: inline-flex;
        justify-content: center;
        align-content: center;
    }

    &__input {
        width: 358px;
        height: 50px;
        padding: 15px;
        padding-left: 16px;
        margin-right: 12px;
        background-color: #2f303a;
        border: 1px solid rgba(255, 255, 255, 0.3);
        color: var(--brand-second-color);
        border-radius: 4px;
        outline: none;
    }

    &-btn {
        width: 200px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.06em;
        color: #ffffff;
        background: var(--brand-main-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        cursor: pointer;
    }

    &__icon {
        margin-left: 24px;
    }
}