.invisible {
    visibility: hidden;
}

.portfolio {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    padding-top: 0;


    &-item {
        position: relative;
        z-index: 1;
        width: 370px;
        height: 404px;
        margin: 15px;
        list-style-type: none;
        background: var(--brand-second-color);
        overflow: hidden;
        cursor: pointer;
        transition: var(--transition);
        transition-property: fill;
        border: 1px solid #EEEEEE;

        &:hover,
        &:active,
        &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
            cursor: pointer;
        }

        &:hover .overlay {
            visibility: visible;
            transform: translateY(0);
        }
    }

    &-description {
        position: absolute;
        z-index: 101;
        font-size: 16px;
        color: #757575;
        padding-left: 25px;
        background-color: var(--brand-second-color);
        width: 100%;
        height: 100%;
    }

    &-image {
        margin: 0px;
        object-fit: cover;
    }

    &-name {
        position: relative;
        z-index: 3;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.06em;
        color: var(--text-main-color);
    }

    &-type {
        position: relative;
        z-index: 3;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.03em;
        color: #757575;
    }
}

.img-over {
    position: relative;
    overflow: hidden;
}