.social {
    margin-top: 12px;
    margin-left: 70px;

    &__title {
        text-align: left;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        padding: 0;
        margin: 0;
        margin-bottom: 20px;
        color: var(--brand-second-color);
    }
}

.footer-social {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: left;
    list-style: none;
    margin: 0;
    padding: 0;


    &-icon {
        padding-right: 10px;
        fill: var(--brand-second-color);
        --color3: rgba(255, 255, 255, 0.1);
        transition: var(--transition);
        transition-property: var(--color3);

        &:active,
        &:hover,
        &:focus {
            --color3: var(--brand-main-color);
            cursor: pointer;
        }
    }
}

